/* sekcija zasto nas izabrati  */

.card-with-image img {
  width: 12em;
  height: 12em;
  object-fit: contain;
}
.card-with-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  padding: 2em;
}
.row-of-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  text-align: center;
  margin: auto;
}
