<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/72251cb7-6d89-49c4-a0b8-c735e4f5b2e3/resourcegroups/Rentora_group/providers/Microsoft.ContainerRegistry/registries/RentoraAPI20250109003141</ContainerResourceId>
    <ContainerResourceName>RentoraAPI20250109003141</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>rentoraapi20250109003141.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>rentoraapi</ContainerName>
    <EnvironmentName>RentoraAPI-env-20250109002134</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://rentora-backend.calmisland-ad17aef5.germanywestcentral.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/72251cb7-6d89-49c4-a0b8-c735e4f5b2e3/resourceGroups/Rentora_group/providers/Microsoft.App/containerApps/rentora-backend</ResourceId>
    <ResourceGroup>Rentora_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>