<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/72251cb7-6d89-49c4-a0b8-c735e4f5b2e3/resourceGroups/rentora_group-b8a2/providers/Microsoft.Web/sites/rentora</ResourceId>
    <ResourceGroup>rentora_group-b8a2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rentora-czb7hwc5dxhxhxd5.germanywestcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>82db6d1b-52b8-492f-bd97-cf25f5753241</ProjectGuid>
    <PublishUrl>https://rentora-czb7hwc5dxhxhxd5.scm.germanywestcentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$rentora</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>